pandas
numpy
scikit-learn
catboost
lightgbm==3.3.5  # Latest stable release with good compatibility
optuna==2.10.0  # Compatible version for hyperparameter optimization
xgboost==1.5.2  # Keeping this version as requested, should be compatible with Optuna and LightGBM
joblib==1.1.0
markupsafe>=2.1.0  # Upgrade to ensure compatibility with Flask and other libraries
ZenML
SQLAlchemy==1.4.54  # Still compatible with Airflow and Flask
docker # Suitable for MLflow
alembic==1.8.1  # Compatible with ZenML, Optuna, and SQLAlchemy
fsspec==2023.10.0  # Latest stable release for S3 compatibility
PyYAML
packaging  # Latest version, compatible with Streamlit, Langchain, and MLflow
